///////////////////////////////////////
//
// HTML5 display definitions
//
///////////////////////////////////////


//
// 1. Apply a natural box layout model to all elements
// 2. Apply a natural box layout model to all pseudo elements
// 3. Force browsers to render for legibility over speed
//
// 1
*,
// 2
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
  // 3
  text-rendering: optimizeLegibility;
}

//
// Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
//
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

//
// Correct `inline-block` display not defined in IE 8/9.
//
audio,
canvas,
video {
  display: inline-block;
}

//
// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
//
audio:not([controls]) {
  display: none;
  height: 0;
}

//
// Address styling not present in IE 8/9.
//
[hidden] {
  display: none;
}




///////////////////////////////////////
//
// Links
//
///////////////////////////////////////

// the majority of links do not seem to be inline so I prefer
// to default to block. Oh yeah, and underlines are so 1999.
a {
  display: block;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}




///////////////////////////////////////
//
// Base
//
///////////////////////////////////////

//
// 1. Prevent system color scheme's background color being used in Firefox, IE,
//    and Opera.
// 2. Prevent system color scheme's text color being used in Firefox, IE, and
//    Opera.
// 3. Set default font family to sans-serif.
// 4. Prevent iOS text size adjust after orientation change, without disabling
//    user zoom.
//
html {
  background: #fff; /* 1 */
  color: #000; /* 2 */
  font-family: sans-serif; /* 3 */
  -ms-text-size-adjust     : 100%; /* 4 */
  -webkit-text-size-adjust : 100%; /* 4 */
}

//
// Remove default margin.
//
body {
  margin: 0;
}

//
// Address margin not present in IE 8/9 and Safari 5.
//
figure {
  margin: 0;
}

//
// 1. Remove border when inside `a` element in IE 8/9.
// 2. Max-width prevents images from stretching beyond
//    their true size in responsive design.
//
img {
  // 1
  border: 0;
  // 2
  max-width: 100%;
}

//
// Address styling not present in IE 8/9, Safari 5, and Chrome.
//
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

//
// Correct font family set oddly in Safari 5 and Chrome.
//
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

//
// Improve readability of pre-formatted text in all browsers.
//
pre {
  white-space: pre-wrap;
}

//
// 1. With the increased use of custom font faces I rarely need the font
// weight set to bold.
// 2. Default browser margins are way too large. Quit trying to do my job for me.
//
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

//
// Address inconsistent and variable font size in all browsers.
//
small {
  font-size: 80%;
}

//
// Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
//
b,
strong {
  font-weight: bold;
}

//
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
//
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}




///////////////////////////////////////
//
// Forms
//
///////////////////////////////////////

//
// Let users know that labels have interactions
//
label {
  cursor: pointer;
}

//
// 1. Correct font family not being inherited in all browsers.
// 2. Correct font size not being inherited in all browsers.
// 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
//
button,
input,
select,
textarea {
  // 1
  font-family: inherit;
  // 2
  font-size: 100%;
  // 3
  margin: 0;
}

//
// Address Firefox 4+ setting `line-height` on `input` using `!important` in
// the UA stylesheet.
//
button,
input {
  line-height: normal;
}

//
// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
// Correct `select` style inheritance in Firefox 4+ and Opera.
//
button,
select {
  text-transform: none;
}

//
// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others.
//
button,
// 1
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  // 2
  -webkit-appearance: button;
  // 3
  cursor: pointer;
}

//
// Re-set default cursor for disabled elements.
//
button[disabled],
html input[disabled] {
  cursor: default;
}

//
// 1. Address box sizing set to `content-box` in IE 8/9.
// 2. Remove excess padding in IE 8/9.
//
input[type="checkbox"],
input[type="radio"] {
  // 1
  box-sizing: border-box;
  // 2
  padding: 0;
}

//
// 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
// 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
//    (include `-moz` to future-proof).
//
input[type="search"] {
  // 1
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  // 2
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//
// Remove inner padding and search cancel button in Safari 5 and Chrome
// on OS X.
//
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

//
// Remove inner padding and border in Firefox 4+.
//
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

//
// 1. Remove default vertical scrollbar in IE 8/9.
// 2. Improve readability and alignment in all browsers.
//
textarea {
  // 1
  overflow: auto;
  // 2
  vertical-align: top;
}

//
// Create some default styling for invalid form states
//
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -webkit-box-shadow: 0 0 5px red;
  -moz-box-shadow:    0 0 5px red;
  -ms-box-shadow:     0 0 5px red;
  -o-box-shadow:      0 0 5px red;
  box-shadow:         0 0 5px red;
}


//
// Remove default padding and margin from list elements and menus
//
ul,
menu {
  margin: 0;
  padding: 0;
}
