//
//
//
// $MAIN
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Layout styles for the base pages.
// @end


html,
body {
  font-family: $helvetica;
  height: 100%;
  width: 100%;
}

// <div> containing element
.window {
  @include row();
  padding: .6em;
  // prep for absolutely positioned call list
  position: relative;
}





// <div> wrapper for sources
.sources {

  section:first-of-type {
    @include first();
  }
}

// <section> tourbuzz container
.tourbuzz {
  @extend %container;
}

// <section> twilio container
.twilio {
  @extend %container;
}

// <section> fullContact
.fullcontact {
  @extend %container;
}

// <section> empty container
.blank {
  @extend %container;
}
