<h1>Dashboard</h1>

<div class="incoming-calls">
  <ul class="calls">
    <li class="calls__call" ng-repeat='contact in incomingContacts' ng-click='selectContact(contact)'>
      {{ contact.name }}
      <img ng-src='{{ contact.image }}' />
    </li>
  </ul>
</div>

<section class='tourbuzz'>
	<h1>TourBuzz</h1>
	<pre>
	  {{ activeContact.sources.tourbuzz | json }}
	</pre>
</section>
<section class='fullContact'>
	<h1>Full Contact</h1>
	<pre>
	  {{ activeContact.sources.fullcontact | json }}
	</pre>
</section>
<section class='twilio'>
	<h1>Twilio</h1>
	<pre>
	  {{ activeContact.sources.twilio | json }}
	</pre>
</section>
