//
//
//
// $CONFIG
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Set up all configurable variables and settings here.
//  This document should contain all logic and NO styles.
// @end




////////////////////////////////////////////
//
// Compass Defaults
//
////////////////////////////////////////////

$default-transition-duration        : 0.2s;
$default-transition-function        : ease-in-out;
$default-box-shadow-color           : #000;
$default-box-shadow-h-offset        : 0;
$default-box-shadow-v-offset        : 0;
$default-box-shadow-blur            : 6px;
$default-box-shadow-spread          : 0;
$default-border-radius              : 2px;




////////////////////////////////////////////
//
// Breakpoints
//
//
//    $breakpoint-default-media - defaults to ‘all’.
//      If you do not pass a media type into the breakpoint mixin, this
//      is the media type that will be used.
//    $breakpoint-default-feature - Defaults to ‘min-width’.
//      If you write a breakpoint with only a number, this is the
//      feature that is used.
//    $breakpoint-default-pair - Defaults to ‘width’.
//      If you write a breakpoint with two numbers but do not specify
//      the feature, this is the feature that is used.
//    $breakpoint-to-ems - Defaults to ‘false’.
//      If set to true, all pt/px/percent numbers will be converted to
//      em units for better, more accessable media queries.
//    $breakpoint-prefixes - Defaults to `'webkit' 'moz'`.
//      Defines the prefixes to write for prefixed media features.
//    $breakpoint-prefixed-queries - Defaults to `'device-pixel-ratio' 'min-device-pixel-ratio' 'max-device-pixel-ratio'`.
//      Defines what queries should be prefixed.
//
//    // assume min-width (by default) if only a number
//    $breakpoint-medium-width: 500px;
//    $breakpoint-medium-width-em: 30em;
//
//    // set min-width/max-width if both values are numbers
//    $breakpoint-medium-not-wide: 500px 700px;
//
//    // set min/max of feature if there are two numbers
//    $breakpoint-medium-height: height 300px 700px;
//
//    // if one value is a string, assume a feature/value pair
//    $breakpoint-kind-of-wide: min-width 700px;
//    $breakpoint-not-too-wide: max-width 700px;
//
//    // for multidimensional lists, assume each item is a feature value pair
//    $breakpoint-wide-portrait: max-width 700px, orientation portrait;
//
//    // handle one-sided features (ie. monochrome)
//    $breakpoint-wide-portrait-mono: max-width 700px, orientation portrait, monochrome;
//    $breakpoint-mono: monochrome;
//    $breakpoint-hi-rez: 2 device-pixel-ratio;
//
//
//
//  USAGE:
//
//    .foo {
//      @include breakpoint($breakpoint-small) {
//        display: block;
//        width: 100%;
//      }
//    }
//
//
//  OUTPUT:
//
//    @media (min-width: 31.25em) {
//      .foo {
//        display: block;
//        width: 100%;
//      }
//    }
//
////////////////////////////////////////////

$breakpoint-to-ems        : true;

$breakpoint-small         : max-width 520px;
$breakpoint-medium        : 520px;
$breakpoint-medium-large  : 768px;
$breakpoint-large         : 1000px;
$breakpoint-very-large    : 1400px;

$breakpoint-only-medium   : $breakpoint-medium $breakpoint-large;
$breakpoint-only-large    : $breakpoint-large $breakpoint-very-large;




////////////////////////////////////////////
//
// Colors
//
////////////////////////////////////////////

// Standard colors
$color-white                        : #fff;
$color-gray                         : #666;
$color-black                        : #000;

// Alerts
$color-alert                        : #bada55;
$color-alert_minor                  : #bada55;
$color-alert_mega                   : #bada55;
$color-alert_resolved               : #bada55;

// Copy
$color-copy_body                    : #bada55;
$color-copy_blogPost                : #bada55;

// Links
$color-link_mainNav                 : #bada55;
$color-link_mainNavHover            : #bada55;
$color-link_blogFollow              : #bada55;
$color-link_blogFollowHover         : #bada55;

// Background Colors
$color-bg_main                      : #bada55;
$color-bg_sidebar                   : #bada55;
$color-bg_blogSidebar               : #bada55;
$color-bg_bucket                    : #bada55;

// Define reusable gradients
@mixin modal-bg {
  @include background-image(linear-gradient(
    rgba(71,71,70,0.98) 0%,
    rgba(47,47,46,0.99) 50%,
    rgb(31,31,31) 99%,
    rgb(31,31,31) 100%
  ));
}

@mixin table-header-bg {
  @include background-image(linear-gradient(
    -90deg,
    rgb(85,85,85) 0%,
    rgb(51,51,51) 100%
  ));
}




////////////////////////////////////////////
//
// Typography
//
////////////////////////////////////////////

// Create font-family alias'
$helvetica                          : #{'Helvetica Neue', Helvetica, sans-serif};
$arial                              : #{arial, sans-serif};
$symbols                            : #{"link_to_symbols_family"};
$monospaced_serif                   : #{"Courier New", Courier, FreeMono, "Nimbus Mono L", monospace};
$monospaced_sans                    : #{"Lucida Console", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace};

// Define the site base values
$font-base                          : #{'Helvetica Neue', Helvetica, sans-serif};
$font-base_size                     : 16px;
$font-base_lineHeight               : $font-base_size * 1.5;
//$font-navigation                    : #{'custom_name', Arial, sans-serif};

// Headers
$header-size_levelOne               : 12em;
$header-size_levelTwo               : 8em;




////////////////////////////////////////////
//
// Layout
//
////////////////////////////////////////////

$site-width                         : 100%;
//$site-width_max                     : 2400px;
//$site-width_min                     : 300px;




////////////////////////////////////////////
//
// Grid Helpers
//
////////////////////////////////////////////

// total width of page
$width : $site-width;
// number of columns
$columns: 6;
// margin between columns
$col_margin: 2%;

